body {
    font-family: Arial, sans-serif;
    background-color: rgb(15, 128, 128);
    color: white;
  }
  
  .auth-container {
    max-width: 400px;
    margin: 150px auto;
    padding: 40px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: rgb(15, 128, 128);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(15, 128, 128);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: rgb(10, 100, 100);
  }
  
  a {
    color: rgb(15, 128, 128);
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(10, 100, 100);
  }